/* Estilos para el encabezado */
header {
    background-color: #007BFF;
    color: #fff;
    text-align: center;
    padding: 20px 0;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  }
  
  /* Estilos para el título "Todo App" */
  h1 {
    font-size: 24px;
    margin: 0;
  }
  